<div class="container" style="width: 960px;" align="left">
    <div ng-include src="'/app/search.html'"></div>
</div>
<div class="container" style="width: 960px;" align="left">
    <div id="editAccount" ng-conroller="editAccount" class="container">
    <label>Enter the new user information</label>
    <br/>
    <div id="nameDiv">Username: <input id="name-input" ng-model="updateName" placeholder="{{editAccount.name}}" style="width:400px"/></div>
    <div id="emailDiv"> Email : <input id="email-input" ng-model="updateEmail" placeholder="{{editAccount.email}}" style="width:400px"/></div>

    <div ng-controller="editAccountController" align="center">
        <input type="submit" id="save" name="save" ng-click="save(updateName,updateEmail)" class="btn btn-primary" value="save"/>
    </div>
 </div>











