<!DOCTYPE html>
<html>
<head>
    <style>
        #container { width: 20px;
            height:20px;
            overflow-y: auto; }
    </style>
</head>
<body>
<div class="container">
    <div ng-include src="'/app/search.html'"></div>
</div>
<div ng-controller="userDetailController" class="container">
    <div id="pageHeader" align="center"><h3>{{userDetails.handle}}'s User Details</h3></div>
    <br/>
    <div id="userName"><b>Name:</b> {{userDetails.name}}</div>
    <div id="userEmail"><b>Email:</b> {{userDetails.email}}</div>
    <div id="userEdit" ng-controller="editAccountController" ng-show="curAccount.id == userDetails.id">
        <input type="submit" id="edit" name="edit" ng-click="edit()" class="btn btn-primary" value="Edit logged in user"/>
    </div>

    <div id="userMessage" ng-controller="editAccountController" ng-show="curAccount.id == userDetails.id">
        <input type="submit" id="message" name="edit" ng-click="edit()" class="btn btn-primary" value="Post message"/>
    </div>

   <!-- <div id="startFollow" ng-controller="userDetailController" ng-show="curAccount.id != userDetails.id && !alreadyfollowing" align="right">
        <input type="submit" id="followCheck" name="edit" ng-click="getFollowStatus(curAccount.id, userDetails.id)" class="btn btn-primary" value="Start Following"/>
    </div>
    <div id="areFollowing" align="right" ng-show="alreadyfollowing">
        <label id="following">You are following this user</label>
    </div> !-->
    <follow-directive/>

</div>
<div id="postingLabel"><h1>User's Posting:</h1></div>
<div style="height: 200px;overflow-y: auto">
    <table border="1" cellpadding="0" cellspacing="0">
        <tr>
            <td>Date</td>
            <td>Message</td>
        </tr>
        <tr ng-repeat="m in postings ">
            <td id="messageDate{{m.id}}" ng-bind="m.dateCreated | date: 'MMM d'"></td>
            <td id="msgText{{m.id}}">{{m.messageText}}</td>
        </tr>
    </table>
</div>
</body>


