<!DOCTYPE html>
<html>
<head>
    <style>
        #container { width: 20px;
            height:20px;
            overflow-y: auto; }
    </style>
</head>
<body>



<div ng-conroller="userDetail" class="container">
    <div><h1>User Details</h1></div>
    <div>Username:{{userDetails.name}}</div>
    <div>Email:{{userDetails.email}}</div>

</div>


<div><h1>User's Posting:</h1></div>
<div style="height: 50px;width:250px;overflow-y: auto">
    <div ng-repeat="m in postings ">
        <div>Date:{{m.dateCreated}}</div>
        <div>Message: {{m.messageText}}</div>
    </div>
</div>
</body>


